<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= post.image %>
  </p>
  <% if local_assigns[:show_description] != false %>
    <p>
      <strong>Description:</strong>
      <%= post.description %>
    </p>
  <% end %>
</div>
